

# NODE_ENV=development
# PORT=3000
# JWT_SECRET=your-super-secret-jwt-key-change-this
# RABBITMQ_URL=amqp://admin:admin@localhost:5672

# DATABASE_URL="postgresql://postgres:database@host.docker.internal:5432/mydb?schema=public"
# docker run -d -p 3000:3000 --env-file .env --add-host host.docker.internal:host-gateway user-service

# RabbitMQ Configuration (optional - for message queue integration)
